__pycache__/
*.pyc
ragas-env/
milvus_local/
rag-env/
rag-env/Lib
.env
api_keys/
config.py
.llm_cache/
*.log
*.tmp
*.temp
*.csv
*.json
milvus_local/etcd/
milvus_local/milvus-data/
docker-compose.override.yml
.vscode/
rag-env/Scripts/*.exe
ragas-env/Scripts/*.exe
rag-env/Lib/site-packages